<!DOCTYPE html>
<html id="myapp">
<head>
    <meta charset="utf-8" http-equiv="X-UA-Compatible" content="IE=11">
    <title> ConCung Identity Server</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- #CSS Links -->
    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="/lib/content/themes/wms/css/bootstrap.min.css">
    <link href="/lib/content/themes/wms/css/animate.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" media="screen" href="/lib/content/themes/wms/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/lib/content/themes/wms/css/login_style.css">
    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="/images/wms_icon.png" type="image/x-icon">
    <link rel="icon" href="/images/wms_icon.png" type="image/x-icon">
    <script src='https://www.google.com/recaptcha/api.js?hl=vi'></script>
</head>
<body class="login-page" style="background-image:url('/lib/content/themes/wms/img/bg-login-2.jpg');background-position:center bottom" ng-app="app">
    <div class="container">
        <div class="box-login" ng-controller="ChangePassController">
            <div id="login-logo" class="col-md-12">
                <img src="/lib/content/themes/wms/img/logo-new.png" alt="concung" />
            </div>
            <div class="clearfix"></div>
            <div class="row" style="margin-left:-26px; margin-right:-26px">
                <form id="changePass-form" class="login-form">
                    <div class="form-group" style="margin-bottom: 20px;">
                        <h2 style="margin-top:0;text-align:center">Đổi Mật Khẩu</h2>
                    </div>
                    <div class="form-group">
                        <label>Mật khẩu hiện tại</label>
                        <input type="password" class="form-control" name="oldPass" ng-model="Data.OldPass">
                    </div>
                    <div class="form-group">
                        <label>Mật khẩu mới</label>
                        <input type="password" class="form-control" name="newPass" ng-model="Data.NewPass">
                        <div class="note" style="color: #EA377C;margin-top: 7px;">
                            Ít nhất 8 kí tự (kí tự số, chữ hoa, chữ thường)
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Xác nhận mật khẩu</label>
                        <input type="password" class="form-control" name="confirmPass" ng-model="Data.ConfirmPass">
                    </div>
                    <footer style="margin-top: 10px;">
                        <button type="submit" class="btn btn-login" ng-click="ChangePass();">Cập nhật mật khẩu</button>
                    </footer>
                    <section ng-show="ErrorMsg != null && ErrorMsg.length > 0">
                        <div class="note" style="color: #EA377C;margin-top: 7px;font-size: 15px;">
                            {{ErrorMsg}}
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </div>
    <div class="bg-image">
    </div>
    <script src="/lib/angular/angular.1.2.13.min.js"></script>
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/md5.min.js"></script>
    <script type="text/javascript">
        var GCount = 1;
        var BgStyle1 = {
            "background-image": "url('/lib/content/themes/wms/img/bg-login-1.png')",
            "background-position": "bottom right"

        };
        var BgStyle2 = {
            "background-image": "url('/lib/content/themes/wms/img/bg-login-3.png')",
            "background-position": "center"
        };
        var BgStyle3 = {
            "background-image": "url('/lib/content/themes/wms/img/bg-login-4.png')",
            "background-position": "center right"
        };
        var BgStyle4 = {
            "background-image": "url('/lib/content/themes/wms/img/bg-login-5.png')",
            "background-position": "center bottom"
        };
        var BgStyle5 = {
            "background-image": "url('/lib/content/themes/wms/img/bg-login-2.jpg')",
            //"background-position": "top right"
            "background-position": "center center"
        };

        $(function () {
            // Update scaling on window resize
            // Uses jQuery throttle plugin to limit strain on the browser
            //$(window).resize($.throttle(100, scaleCaptcha));
            setInterval(function () {
                switch (GCount) {
                    case 1:
                        setBackgroud(BgStyle1);
                        GCount++;
                        break;
                    case 2:
                        setBackgroud(BgStyle2);
                        GCount++;
                        break;
                    case 3:
                        setBackgroud(BgStyle3);
                        GCount++;
                        break;
                    case 4:
                        setBackgroud(BgStyle4);
                        GCount++;
                        break;
                    case 5:
                        setBackgroud(BgStyle5);
                        GCount = 1;
                        break;
                }

            }, 10000);
        });

        var getCookie = function (name) {
            var getCookieValues = function (cookie) {
                var cookieArray = cookie.split('=');
                return cookieArray[1];
            };
            var getCookieNames = function (cookie) {
                var cookieArray = cookie.split('=');
                return cookieArray[0];
            };
            var cookies = document.cookie.split(';');
            var cookieValue = cookies.map(getCookieValues)[cookies.map(getCookieNames).indexOf(name)];
            return (cookieValue === undefined) ? null : cookieValue;
        };

        function setBackgroud(obj) {
            $("body").css(obj);
        }

        var app = angular.module("app", []);
        app.controller("ChangePassController", function ($scope, $http, $log) {
            $scope.Data = {
                UserName: '',
                OldPass: '',
                NewPass: '',
                ConfirmPass: ''
            };

            $scope.ErrorMsg = '';

            $scope.ChangePass = function () {
                if ($scope.Data.OldPass == '') {
                    $scope.ErrorMsg = 'Nhập mật khẩu hiện tại';
                    return;
                }
                if (!/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.{8,})/.test($scope.Data.NewPass)) {
                    $scope.ErrorMsg = 'Mật khẩu mới không hợp lệ';
                    return;
                }
                if ($scope.Data.NewPass != $scope.Data.ConfirmPass) {
                    $scope.ErrorMsg = 'Mật khẩu và xác nhận mật khẩu không trùng khớp';
                    return;
                }
                $scope.ErrorMsg = 'Đang xử lý...'
                $http.post('/Account/ChangePassword', {
                    UserName: $scope.Data.UserName,
                    NewPass: $scope.Data.NewPass,
                    OldPass: md5($scope.Data.OldPass)
                }).then(function (response) {
                    console.log(response);
                    if (response.data.status) {
                        var href = decodeURIComponent(getCookie('ReturnUrl'));
                        if (href === '' || href === 'null') {
                            window.location.href = 'https://gke-mbm.concung.com';                            
                        }
                        else {
                            window.location.href = 'https://gke-ids.concung.com';
                        }
                    }
                    else {
                        $scope.ErrorMsg = response.data.Message;
                    }
                }, function (response) {
                    $log.info(response);
                    $scope.ErrorMsg = 'Lỗi cập nhật mật khẩu';
                });
            };
            $(function () {
                $scope.Data.UserName = getCookie('UserID');
            });
        });
    </script>
</body>
</html>